# Flutter/Android Build Artifacts
/build/
.dart_tool/
/android/.gradle/
/android/app/src/main/cpp/libs/
/android/app/src/main/cpp/obj/

# Python & AI Models
__pycache__/
venv/
.env
*.onnx

# Audio App Specifics
/cloud_backend/output/
*.wav
*.mp3
*.ogg
*.m3u8
*.ts
